*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 102vh;
    background-clip: border-box;
    width: 100%;
    position: relative;
}
.Block{
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 50vh;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline-color: #50c878ef;
    outline-style: solid;
    outline-width: 5px;

}
.Game-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 75vh;
    height: 50vh;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    top: 60%;
    transform: translate(-50%, -50%);
    outline-color:#50c878ef;
    outline-style: solid;
    outline-width: 5px;
    left: -20vw;
}
.Game-block2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 75vh;
    height: 50vh;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    top: 60%;
    transform: translate( 120%, -50%);
    outline-color:#50c878ef;
    outline-style: solid;
    outline-width: 5px;
    left: -20vw;

}
.Slide-text{
    position: absolute;
    top: 45.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.Slide{
    display: none;
    animation: fade 1s ease-in-out;
    text-align: center;
}
.Slide.active{
    display: block;
}

.Slide-image{
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 42vw;
    height: 40vh;
    object-fit: cover;
    margin-left: -10px;
}
.Slide-image2{
    color: white;
    font-size: 1.2rem;
    margin-top: 0px;
    width: 45vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
#Head{
    color: white;
    margin: 20px;
    font-size: 30px;
}
#info{
    color: white;
    font-size: 20px;
    margin: 20px;
    text-align: center;
    bottom: 70px;
    position: absolute;
}
.Scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50vw;
    height: 20vh;
    position: absolute;
    bottom: 20px;   
    border-radius: 20px;
    transform: translate( -40%, 0% );
    outline-color: #50c878ef;
    outline-style: solid;
    outline-width: 5px;
    z-index: 1;
}
.welkom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -35vh;
    z-index: 2;
}
h1{
    font-size: 3rem;
    color: hsla(0, 0%, 0%, 0.842);
    text-align: center;
}
p{
  text-align: center;  
}
.Gamenaam{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 50%;
    width: 100%;
    position: absolute;    
}
.Gameinfo{
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin-bottom: -50%;
    width: 95%;
    position: absolute;
}
.Game-img{
    width: 90%;
    height: 60%;
    position: absolute;
    object-fit: cover;
    top: 20.5%;
    align-items: center;
    z-index: -10;
    transform: translate(-12%, 0);
    
}
#score{
    color: white;
    font-size: 20px;
    margin: 20px;
    bottom: 40px;
    position: absolute;
    left: 1.5%;
}
.spel{
    margin-bottom: 30px;
}
.spel button{
    font-size: 6.5rem;
    margin: 0 17px;
    min-width: 150px;
    border-radius: 50%;
    background-color: #008d78;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.spel button:hover{
    background-color: #8cbdb0;
}
#player, #computer {
    font-size: 1.5rem;
    text-align: center;
}
#resultaat{
    font-size: 3rem;
    margin: 30px;
    text-align: center;
}
.score{
    font-size: 1.3rem;
    text-align: center;
}
.greenText, #playerscoredisplay{
    color: rgb(13, 243, 13);
}
.redText, #computerscoredisplay{
    color: red;
}
.Reset{
    background-color: #50c878ef;
    border-radius: 20px;
    font-size: 1.2rem;
    width: 25vw;
    height: 10vh;
    top: 20;
    border: none;
    transform: translate(20%, 0);

}
nav{
    background-color: black;
    padding: 24px;
    width: 100vw;
    height: 10vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
nav a {
    padding-left: 30px;
    color: white; 
    text-decoration: none;
}
nav a:hover{
    color: #50c878ef;
}
#loginwoord{
    text-align: center;
    font-size: 60px;
    margin: 20px;
    position: relative;
    
}
#username{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    bottom: 20vh;
    position: relative;
    left: 0%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    top: 0;
}
#gebruikersnaam, #email ,#wachtwoord{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    bottom: 10vh;
    position: relative;
    left: 0%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    top: 0;
}
#password{
    font-size: 20px;
    margin: 20px;
    text-align: center;
    bottom: 0vh;
    position: relative;
    left: 0%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    top: 0;
}
#inlogbutton{
    background-color: #50c878ef;
    position: relative;
    width: 100px;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    border: none;
    left: 47.5%;
}
#uitlogbutton{
    background-color: #50c878ef;
    position: relative;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    align-self: center;
    top: 40px;
    left: 35%;
    text-decoration: none;
    text-align: center;

}
#uitlogbutton2{
    background-color: #50c878ef;
    position: relative;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    align-self: center;
    top: 7.5vh;
    left: 65%;
    text-decoration: none;
    text-align: center;
}
#editprofiel{
    background-color: #50c878ef;
    position: relative;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    align-self: center;
    text-decoration: none;
    text-align: center;
    margin-bottom: -50vh;
    left: 15%;
    top: 10vh;
}
.success{
    color: green;
    font-size: 20px;
    margin-top: 20px;
}
.profielpagina{
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 75vh;
    height: 85vh;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline-color:#50c878ef;
    outline-style: solid;
    outline-width: 5px;
    color: white;
}
#deletebutton{
    background-color: #50c878ef;
    position: relative;
    width: 100px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    align-self: center;
    text-decoration: none;
    text-align: center;
    margin-bottom: -50vh;
    left: 60%;
    top: 35vh;
}
.account-deleted{
    text-align: center;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto; 
}
.account-deleted h1{
    color: white;
    margin-bottom: 20px;
}
.account-deleted a{
    display: inline-block;
    margin: 10px;
    color: white;
    padding: 10px 20px; 
    text-decoration: none;
    border-radius: 5px;
}
footer{
  background-color: black;
  width: 100vw;
  padding: 105px;
  height: auto;
  position: relative;
  z-index: 2;

}
.ingang{
    background-color: #50c878ef;
    color: white;
    border: none;
    padding: 30px 100px;
    font-size: 2rem;
    border-radius: 50px;
    margin-top: 30px;
}
.Auto-video{
    width: 100%;
    height: 100%;
    min-height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
.skycolor{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100%;
   object-fit: cover;
   z-index: -1;

}
#playAudio{
    position: absolute;
    bottom: 30px;
    right: -28vw;
    display: flex;
    align-items: center;
    opacity: 0.7;
    align-items: center;
    width: 110px;
    padding: 8px;
    border-radius: 20px;
    z-index: 10;
    border: none;
}
#playAudio:hover{
    opacity: 1;
    background-color: #50c878ef;
}
.logo{
    position: absolute;
    left: 15px;
    width: 75px;
    height: 65px;
    top: 0px;
}
.footer-logo{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -75px;
    left: 15px;

}
#Watermark{
    color: white;
    position: absolute;
    top: 80%;
    left: 80%;
    font-size: 15px;  
}
.Label-menu{
    position: relative;
    justify-content: center;
    display:flex;
    margin-bottom: 20px;


}
.Input-menu{
    position: relative;
    justify-content: center;
    left: 35%;
    top: -20px

}
.aanmaken{
    position: relative;
    justify-content: center;
    left: 35%;
    top: -20px;
    height: 50px;

}
.Submit-menu{
    background-color: #50c878ef;
    color: white;
    border: none;
    position: relative;
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    top: 7.5vh;
    left: 36%;
    text-decoration: none;
    text-align: center;   
}
.profielPage{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 5px;
    margin-top: 6px;
    z-index: 10;
    border: 2px solid #50c878ef;
    border-radius: 50%;
    object-fit: cover;
}
.menu{
    display: none;
}
.verwijder-Ja{
    background-color: #50c878ef;
    position: relative;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: none;
    align-self: center;
    text-decoration: none;
    text-align: center;
    left: -20px; 
    top: 10px;
}
.verwijder-Nee{
    background-color: #50c878ef;
    position: relative;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    border: none;
    align-self: center;
    text-decoration: none;
    text-align: center;
    left: 20px; 
    top: 2.5px;
}
.account-deleted{
    border: solid 20px #50c878ef;
}
.Registreer-button{
    background-color: #50c878ef;
    position: relative;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    top: 10px;
}
#Account-aanmaken{
    background-color: #50c878ef;
    position: relative;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    top: 10px;
    width: 30vh;
    height: 30px;
}
 .Account-button{
    background-color: #50c878ef;
    position: relative;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    top: 10px;
    left: 30px;
 }
@media (max-width: 480px){
    .Block{
        width: 90vw;
        height: 60vh;
        margin: 0 auto;
        border: solid 5px #50c878ef;
        border-radius: 20px;   
    }
    .Game-block{
        width: 98vw;
        padding: 10px;
        left: 50%;
    }
    .Game-block2{
        width: 98vw;
        padding: 10px;
        transform: translate(10%, 50%);
        left: -37%;
        margin: 20px;
    }
    .Game-img{
        border-radius: 8px;
        left: 65px;   
    }
    .Gamenaam{
        font-size: 1.3rem;
        text-align: center;
        margin-top: -25vh;
    }
    .Gameinfo
    {
        font-size: 0.5rem;
        text-align: center;
        margin-top: 10vh;
        position: relative;
    }
    .profielPage{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 5px;
        margin-top: 6px;
    }
    footer{
        min-height: 50%;
        margin-top: 82%;
    }
    .footer-logo{
        position: absolute;
        width: 75px;
        height: 75px;
        margin-bottom: -50px;
        left: 10px;
    }
    #Watermark{
        color: white;
        position: relative;
        left: 85%;
        width: 30vw;
        font-size: 12px;
        bottom: -11vh;
    }
    .logo{
        position: absolute;
        left: 10px;
        width: 50px;
        height: 45px;
        top: 0px;
    }
    .menu{
        color: white;
        font-size: 24px;
        border: none;
        position: absolute;
        right: 15px;
        top: 15px; 
        background: transparent; 
        display: block;
    }
    nav.menu-open a{   
        display: block;
        
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        background-color: black;
        z-index: 10;
    }
    nav a{
        padding-left: 20px;
        text-decoration: none;
        padding: 10px;
        display: none;
        color:white;
        background-color:  black;
        font-size: 1.2rem;
        text-align: center;
        border: none;
        
    }
    nav a:hover{
        color: #50c878ef
    }
    .Slide-image{
        width: 200vw;
        transform: scale(0.4);
        margin-left: -55vw;
    }
    .Slide-image2{
        width: 87vw;
        height: 59vh;
        border-radius: 10px;
    }
    .Slide-text{
        font-size : 1.2rem;
        color: white;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .welkom{
        margin-top: -40vh;
        z-index: 2;
    }
    .welkom h1{
        font-size: 2.5rem;
        color: white;
        text-align: center;
    }
    .welkom p{
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    #Head{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin-top: 20px;
        text-align: center;
    }
    #info{
        font-size: 1.2rem;
        color: white;
        text-align: center;
        margin-top: 10px;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    .Gameinfo{
        font-size: 1rem;
        color: white;
        text-align: center;
        margin-bottom: -50%;
        width: 95%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .Gamenaam{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin-bottom: 50%;
        width: 100%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #playAudio{
        position: absolute;
        bottom: 30px;
        right: 8vw;
        display: flex;
        align-items: center;
        opacity: 0.7;
        align-items: center;
        width: 110px;
        padding: 8px;
        border-radius: 20px;
        z-index: 10;
        border: none;
        margin-bottom: -38vh;
    
    }
    .Scoreboard{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 90vw;
        height: 15vh;
        position: absolute;
        bottom: 6px;
        border-radius: 20px;
        align-items: center;
        transform: translate(-33%, 0%);
    }
    .spel button{
        font-size: 4rem;
        margin : 0 10px;
        min-width: 100px;
        border-radius: 50%;
        background-color: #008d78;
        border: 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .spel button:hover{
        background-color: #8cbdb0;
    }
    #score{
        font-size: 1.2rem;
        color: white;
        margin : 10px;
        bottom : 30px;
        position: absolute;
        left: 1.5%;
        transform: translate(0, 0);
    }
    #loginwoord{
        font-size: 40px;
        margin: 20px;
        position: relative;
        text-align: center;
        margin-top: 20vh;
    }
    #username, #email, #password ,#gebruikersnaam , #wachtwoord{
        font-size: 18px;
        margin: 10px;
        text-align: center;
        bottom: 0vh;
        position: relative;
        left: 0%;
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        
    }
    #inlogbutton{
        background-color: #50c878ef;
        position: relative;
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        border: none;
        left: 3%;
        top: 3vh;
        background-color: #50c878ef;
    }
    .profielpagina{
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 90vw;
        height: 85vh;
        position: absolute;
        z-index: 1;
        border-radius: 20px;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: #50c878ef solid 5px;
        padding: 20px
    }
    #editprofiel, #uitlogbutton2{
        background-color: #50c878ef;
        position: relative;
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        border: none;
        text-decoration: none;
        text-align: center;
        margin-bottom: -50vh;
        margin-left: -5%;
    }
    #deletebutton{
        background-color: #50c878ef;
        position: relative;
        width: 90%;
        padding: 15px;
        text-align: center;
        margin-left: -50px;
    }
    .Label-menu{
        position: relative;
        justify-content: center;
        display: flex;
        gap: 10px;
        text-align: center;
    }
    .Input-menu , .Submit-menu{
        color: white;
        border: none;
        position: relative;
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        border: none;
        align-items: center;
        transform: translate(-33%, -0%);
    }.Reset{
        background-color: #50c878ef;
        border: none;
        position: relative;
        width: 50vw;
        border-radius: 20px;
        transform: translate(50%, 0%);
        
    }
    .account-deleted{
        border: #50c878ef solid 5px;
    }
    .Account-button{
       background-color: #50c878ef;
       position: relative;
       width: 30%;
       padding: 10px;
       border-radius: 20px;
       border: none;
       top: -1px;
       left: 35%;
    }
    #Account-aanmaken{
       background-color: #50c878ef;
       position: relative;
       border-radius: 20px;
       border: none;
       text-decoration: none;
       top: 50px;
       width: 40vh;
       height: 30px;
       left: 10px;
    }


}